#feeling {
    display: none;
}
#feelingemoji {
    display: none;
}
#emojishow {
    width: 40px;
    height: auto;
}
#indexbox {
    width: 212px;
    height: 112px;
}
img {
    width: 50px;
    height: auto;
}
#display {
 padding-bottom: 15px;
}
.indexdisplay {
    font-size: 33px;
}
#logcontent {
    padding-top: 20px;
}
.emojicreate {
    padding-top: 10px;
}
.row1 {
    display: flex;
    flex-direction: row;
}
.row2, .row3 {
    display: flex;
    flex-direction: row;
}
.rowtop {
    padding-top: 5px;
}
.formheading {
    font-size: 20px;
}
#createnew {
    padding-top: 15px;
}
p {
   font-size:18px;
   font-weight: bold;
}
.answer {
    font-weight: normal;
}
.col1 {
  text-align: center;
}
.createbttnhome {
    display: flex;
    justify-content: flex-end;
}
.createbttnhome1 {
    padding-top: 5px;
}
#shownav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.entry {
    padding-bottom: 10px;
}
#feelingtoday {
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.bottom {
    padding-top: 7px;
}
.info {
    padding-left: 6px;
    margin: 0;
    font-size: 23px;
}
.info1 {
    margin: 0;
    font-weight: bold;
    font-size: 27px;
}
.info2 {
    padding-left: 8px;
}
#delete {
   padding-left: 7px;
}
.entry h4, .entry p {
    display: inline;
}
#showfooter form{
    display: inline;
}
.toprow {
    padding-top: 20px;
}
h1, h6, label, .display-3, .info1, p {
    color: #4C4E52;
}
html body {
    background-color: #d2e7d6;
}
#navleft {
    width: 90%;
}
#navright {
    width: 10%;
    padding-top: 10px;
    display: grid;
}
#colors {
    padding-top: 7px;
}
span {
    border-radius: 50%;
    border: solid grey;
    display: inline-block;
    width: 25px;
    height: 25px;
}
#blue {
    background-color:  #CEE5ED;
}
#orange {
    background-color:  #FFD9BD;
}
#green {
    background-color: #d2e7d6;
}
#purple {
    background-color: #e9e2ff;
}
label {
    font-weight: bold;
}
#happybox, #sadbox, #annoyedbox, #ashamedbox, #proudbox, #stressedbox, #angrybox, #worriedbox, #hopefulbox {
    border-radius: 15px;
    border-width: medium !important;
}
@media screen and (max-width: 500px) {
    p {
        font-size: 14px;
    }
    .info {
        font-size: 20px;
    }
    #indexbox {
        width: 150px;
        height: 100px;
    }
    .indexdisplay {
        font-size: 25px;
    }
    #displayemoji {
        width: 40px;
        height: auto;
    }
    #indexnav {
        flex-direction: column !important;
    }
    #navleft {
        width: 100%;
        text-align: center;
    }
    #navright {
        width: 65%;
    }
    #logcontent {
        padding-top: 25px;
    }
    .answer {
        font-size: 21px;
    }
    #newtitle {
        font-size: 35px;
    }
    #sadbox, #proudbox, #worriedbox {
        padding-right: 2px;
        padding-left: 2px;
    }
    .emojicreate {
        width: 47px;
        height: auto;
    }
    #feelingtoday {
        padding-top: 15px;
    }
}
